.sectionOne-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.sectionOne-items-container {
    padding-right: 10px;
    overflow-y: scroll;
    height: 430px;
    width: 940px;
}
.sectionOne-items-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
  
.sectionOne-main-container{
  padding: 10px;
}

.sectionOne-addItem {
    background-color: #EBEBEB;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-name {
    margin: 0;
}
.sectionOne-addItem{
    padding-bottom: 12px;
}
.sectionOne-checkout-container {
    margin-top: 20px;
}
.sectionOne-minus-btn, .sectionOne-plus-btn{
    background-color: #C45D08;
    border: none;
    border-radius: 5px;
    width: 40px;
    font-size: large;
    color: white;
}
.sectionOne-minus-btn:hover, .sectionOne-plus-btn:hover{
    cursor: pointer;
}
.sectionOne-count-class {
    padding: 10px;
    font-weight: bold;
    font-style: bold;
    font-size: larger;
    color: black;
}
.sectionOne-minus-btn:active, .sectionOne-plus-btn:active {
    transform: scale(0.95);
}